<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linyh.mapper.DishMapper">

    <resultMap id="BaseResultMap" type="xyz.linyh.entity.Dish">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,category_id,
        price,image,
        description,status,sort,
        create_time,update_time,create_user,
        update_user,is_deleted
    </sql>

    <insert id="saveDish">
        insert into dish ( name, category_id, price, image, description, status,sort,create_time,update_time,create_user,update_user )
        values (#{dish.name}, #{dish.categoryId}, #{dish.price}, #{dish.image}, #{dish.description}, #{dish.status}, #{dish.sort},#{dish.createTime},#{dish.updateTime},#{dish.createUser},#{dish.updateUser} )
    </insert>

    <update id="deleteDishById">
        UPDATE dish SET is_deleted=1 WHERE id=#{dishId} AND is_deleted=0
    </update>

    <update id="updateDish">
        update dish
        set name=#{dish.name}, category_id=#{dish.categoryId}, price=#{dish.price}, image=#{dish.image}, description=#{dish.description}, status=#{dish.status}, sort=#{dish.sort},update_time=#{dish.updateTime}, update_user=#{dish.updateUser}
        where id=#{dish.id} AND is_deleted=0
    </update>

    <update id="updateDishMapper">
        update dish
        set status=#{dish.status},update_time=#{dish.updateTime},update_user=#{dish.updateUser}
        where id=#{dish.id} and is_deleted=0
    </update>

    <select id="getAllDishByPage" resultType="xyz.linyh.entity.Dish">
        select d.id,d.name ,d.category_id,d.price,d.image,d.description,d.status,d.sort,d.create_time,d.update_time,d.create_user,d.update_user,d.is_deleted,c.name category_name
        from dish d left join category c on d.category_id=c.id
        where d.is_deleted=0
        <if test="name != null">
            and d.name LIKE concat('%', #{name}, '%')
        </if>
        order by d.create_time desc
        LIMIT #{offset},#{pageSize}
    </select>
    <select id="getDishCount" resultType="java.lang.Integer">
        select count(*)
        from dish
        where
        is_deleted = 0
        <if test="name != null">
            and name LIKE concat('%', #{name}, '%')
        </if>
    </select>
    <select id="getDishById" resultType="xyz.linyh.entity.Dish">
        select id,name,category_id,price,image,description,status,sort,create_time,update_time,create_user,update_user,is_deleted
        from dish
        where id=#{dishId} and is_deleted=0
    </select>
    <select id="getDishByName" resultType="xyz.linyh.entity.Dish">
        select id,name,category_id,price,image,description,status,sort,create_time,update_time,create_user,update_user,is_deleted
        from dish
        where is_deleted=0 and (name = #{dishName})
    </select>


</mapper>
