<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linyh.mapper.SetmealMapper">

    <resultMap id="BaseResultMap" type="xyz.linyh.entity.Setmeal">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,name,
        price,status,
        description,image,create_time,
        update_time,create_user,update_user,
        is_deleted
    </sql>
    <insert id="saveSetMeal">
        insert into setmeal (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user )
        values ( #{setmeal.categoryId}, #{setmeal.name}, #{setmeal.price}, #{setmeal.status}, #{setmeal.description}, #{setmeal.image}, #{setmeal.createTime}, #{setmeal.updateTime}, #{setmeal.createUser}, #{setmeal.updateUser} )
    </insert>
    <select id="getSetMealCount" resultType="java.lang.Integer">
        select count(*)
        from setmeal
        where
        is_deleted = 0
        <if test="name != null">
            and name LIKE concat('%', #{name}, '%')
        </if>
    </select>
    <select id="getAllSetMealByPage" resultType="xyz.linyh.entity.Setmeal">
        select id,category_id,name,price,status,description,image,create_time,update_time,create_user,update_user,is_deleted
        from setmeal
        where is_deleted = 0
        <if test="name != null">
            and name LIKE concat('%', #{name}, '%')
        </if>
        LIMIT #{offset},#{pageSize}
    </select>
    <select id="getSetMealByName" resultType="xyz.linyh.entity.Setmeal">
        select id,category_id,name,price,status,description,image,create_time,update_time,create_user,update_user,is_deleted
        from setmeal
        where is_deleted = 0 and (name = #{name})
    </select>
    <select id="getSetMealById" resultType="xyz.linyh.entity.Setmeal">
        select id,category_id,name,price,status,description,image,create_time,update_time,create_user,update_user,is_deleted
        from setmeal
        where is_deleted = 0 and (id = #{id})
    </select>
</mapper>
